@font-face
    font-family: Oswald
    src: url('../font/Oswald-VariableFont_wght.ttf')

//Principal colors

$azul-toroto: #1930DB
$verde-toroto: #0ED956
$rosa-toroto: #AB0954
$amarillo-toroto: #ffbc15
$white: #ffffff
$black: #000000

//Secundary colors

$azul-secundario-toroto: #8c97ed
$verde-secundario-toroto: #86ecaa
$rosa-secundario-toroto: #dc8bb1
$amarillo-secundario-toroto: #ffdd8a
