@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "nav nav nav" "intro intro intro" "browser browser browser" "map map map" "footer footer footer";
  -ms-grid-rows: 111px 767px 500px 450px 300px;
      grid-template-rows: 111px 767px 500px 450px 300px;
}

.container .nav {
  background-color: #1930DB;
  -ms-grid-column: nav;
      grid-column-start: nav;
  grid-column-end: nav;
}

.container .intro {
  -ms-grid-column: intro;
      grid-column-start: intro;
  grid-column-end: intro;
  background-image: url("../images/intro-img.png");
  background-size: auto 100%;
}

.container .browser {
  background-color: #ffffff;
  -ms-grid-column: browser;
      grid-column-start: browser;
  grid-column-end: browser;
}

.container .map {
  -ms-grid-column: map;
      grid-column-start: map;
  grid-column-end: map;
}

.container .footer {
  background-color: #0ED956;
  -ms-grid-column: footer;
      grid-column-start: footer;
  grid-column-end: footer;
}

.container .projects-views {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
}

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}

.nav img {
  height: 124px;
}

@media screen and (max-width: 480px) {
  .nav img {
    height: 90px;
  }
}

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

.browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.browser .browser-container {
  width: 80%;
}

.browser .company-trust-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -200px;
}

.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
  height: 65px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 24px;
  padding-left: 34px;
  border: none;
  -webkit-box-shadow: -3px 1px 4px #C4C4C4;
          box-shadow: -3px 1px 4px #C4C4C4;
}

.ant-btn-icon-only > * {
  font-size: 24px !important;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  height: 65px;
  width: 65px;
  border-radius: 0 50px 50px 0 !important;
  border-left: none;
  border: none;
  -webkit-box-shadow: 2px 1px 4px #C4C4C4;
          box-shadow: 2px 1px 4px #C4C4C4;
}

.ant-input-group-addon {
  background-color: transparent !important;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  color: #1930DB !important;
}

@media screen and (max-width: 480px) {
  .ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
    font-size: 16px;
  }
}

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

.resume-container {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -449px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  width: 100%;
  height: 60.5%;
}

.resume-container .content-typewriter {
  margin-left: 5%;
  width: 30%;
}

.resume-container .content-typewriter span span {
  color: #0ED956;
  font-size: 52px;
}

.resume-container .button-show-map {
  margin-top: 180px;
  margin-right: 5%;
}

.resume-container .button-show-map button {
  height: 50px;
  width: 150px;
  background-color: #AB0954;
  color: #ffffff;
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .resume-container .content-typewriter {
    margin-top: 12%;
  }
  .resume-container .content-typewriter span span {
    font-size: 25px;
  }
  .resume-container .button-show-map button {
    height: 40px;
    width: 120px;
  }
}

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-VariableFont_wght.ttf");
}

.intro div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.intro div .typewriter-intro-container {
  width: 30%;
  margin-top: 10%;
  margin-left: 5%;
}

.intro div .typewriter-intro-container span span {
  font-size: 52px;
  color: #ffbc15;
}

.intro div .to-projects-container {
  margin-top: 70px;
  margin-right: 5%;
  height: 400px;
}

.intro div .to-projects-container .phrase-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro div .to-projects-container .phrase-button div {
  width: 300px;
}

.intro div .to-projects-container .phrase-button div h2 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.intro div .to-projects-container .phrase-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro div .to-projects-container .phrase-button div a {
  color: #ffffff;
  background-color: #AB0954;
  padding: 14px 50px 14px 50px;
  font-size: 20px;
}

.intro div .to-projects-container .arrow {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro div .to-projects-container .arrow img {
  height: 180px;
}

@media screen and (max-width: 480px) {
  .intro div {
    height: 250px;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .intro div .typewriter-intro-container {
    margin-top: 40%;
    width: 300px !important;
    height: 130px !important;
  }
  .intro div .typewriter-intro-container span {
    width: 300px;
    height: 130px;
  }
  .intro div .typewriter-intro-container span span {
    font-size: 25px;
  }
  .intro div .to-projects-container {
    height: 250px;
    margin-left: 5%;
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro div .to-projects-container .phrase-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
  }
  .intro div .to-projects-container .phrase-button div {
    width: auto;
  }
  .intro div .to-projects-container .phrase-button div h2 {
    font-size: 16px;
  }
  .intro div .to-projects-container .phrase-button div a {
    padding: 4px 24px 5px 25px;
  }
  .intro div .to-projects-container .arrow {
    width: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro div .to-projects-container .arrow img {
    height: 90px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4361ee;
  font-family: Oswald !important;
}
/*# sourceMappingURL=main.css.map */